.timeInfo {
  padding: 1rem;
  h6 {
    font-family: "Tenor Sans", sans-serif;
    font-size: 1.5rem;
    color: #939393;
    padding-top: 2rem;
  }
  p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    padding-top: 1rem;
  }
  span {
    font-weight: bold;
  }
}

