.container{
    background-color: #fcf6ee;
 
}
.additionalInfo{
    display: none;
}

@media (min-width:768px){
   
    .container{
        position: relative;
        bottom:8rem;
        padding: 2rem 0;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap:1rem;
    }
    .additionalInfo{
        display: block;
    }
}
@media (min-width:1440px){
    .outerContainer{
        background-color: #feeeda;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
