
.contactInformations{
    margin-top:4rem;
    padding:1rem;
    p{
        font-family:"Open Sans", sans-serif;
        padding:1.5rem 0 ;
        font-size: 1.3rem;
    }
    span{
        font-weight: bold;
    }
}
.moreInfo{
    padding:1rem 1rem 5rem 1rem;
    p{
        font-family:"Open Sans", sans-serif;
        padding:0.5rem 0 ;
        font-size: 1.3rem;
    }
    span{
        font-weight: bold;
    }
}