.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Tenor Sans", sans-serif;
  background-color: #255841;
  color: #ffffff;
  ul {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    list-style-type: none;
    svg {
      position: relative;
      top: 0.1rem;
      margin-left: 0.5rem;
      transform: rotate(0);
      transition: 0.4s;
    }
    li {
      font-size: 1rem;
      padding: 0.5rem;
    }
  }
}
.clicked {
  svg {
    transform: rotate(180deg) !important;
  
  }
}
.hidden {
  height: 0;
  overflow: hidden;
  transition: 0.4s;
}
.displayed {
  @extend .hidden;
  height: 5rem !important;
}
.socials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.desktopList {
  display: none;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
  .mobileList {
    display: none;
  }
  .desktopList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 10rem;
    padding: 1rem;

    span {
      padding: 0.5rem;
      text-decoration: underline;
      text-decoration-thickness: 0.05rem;
    }
  }
  .socials {
    width: 33%;
  }
}
@media (min-width:1024px){
  .footer li:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.01rem;
  }
}
