.iconContainer{
    padding:0 1rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.bar1,
.bar2,
.bar3 {
  width: 2rem;
  height: 0.3rem;
  background-color: #515151;
  margin: 0.4rem 0;
  transition: 0.4s;
  border-radius: 1rem;
}

.changedBar1 {
  @extend .bar1;
  transform: translate(0, 0.6875rem) rotate(45deg);
}
.changedBar2 {
  @extend .bar2;
  opacity: 0;
}
.changedBar3 {
  @extend .bar3;
  transform: translate(0, -0.6875rem) rotate(-45deg);
}
@media (min-width: 1024px){
  .iconContainer{
    display: none;
  }
}
