.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #fcf6ee;
  padding: 1.5rem 0;
  height: 2rem;
  svg {
    cursor: pointer;
    padding: 0 1rem;
  }
}
.upperNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hiddenNav {
  position: fixed;
  overflow: hidden;
  top: 5rem;
  width: 100%;
  max-width: 20rem;
  height: 0;
  background-color: #fcf6ee;
  color: #515151;
  transition: 0.4s;
  transition-timing-function: ease-in;

  -webkit-tap-highlight-color: transparent;
}

.shownNav {
  @extend .hiddenNav;
  height: 12.5rem;
  -webkit-box-shadow: inset -2px 0px 11px -1px #ccc;
  -moz-box-shadow: inset -2px 0px 11px -1px #ccc;
  box-shadow: inset -2px 0px 11px -1px #ccc;
  border-bottom-right-radius: 0.2rem;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}
.blur {
  @extend .nav;
  pointer-events: none;
  filter: blur(0.1rem);
}
.animatedCart {
  @extend .cartIcon;
  position: relative;
  animation-name: add;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
@keyframes add {
  0% {
    left: 0;
  }
  50% {
    left: 0.3rem;
  }
  100% {
    left: 0;
  }
}
.addInformation {
  position: fixed;
  display: flex;
  align-items: center;
  right: 0.5rem;
  padding: 1rem 0.5rem;
  top: 5rem;
  color: #ffffff;
  background-color: #255841;
  border-radius: 0.2rem;
  border-top-right-radius: 0;
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
  svg {
    position: relative;
    top: 0.2rem;
    padding: 0 0.5rem;
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}
.visible {
  @extend .addInformation;
  opacity: 1;
  transition: 0.3s;
  z-index: 10;
}
@media (min-width: 1024px) {
  .cartIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    cursor: pointer;
    svg {
      width: 2.5rem !important;
      height: 2.5rem !important;
    }
  }

  .hiddenNav {
    display: none;
  }

  .addInformation {
    right: 0.9rem;
  }
  .desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
  }
}
