.list {
  display: flex;
  padding: 1rem;
  font-weight: bold;
  list-style-type: none;
  cursor: pointer;
  p {
    display: flex;
    justify-content: space-between;
    
    svg {
      position: relative;
      right: 0.8rem;
      width: 1.2rem;
      transform: rotate(0);
      transition: 0.4s;
    }
  }

  li {
    padding: 0 0.5rem 0.7rem 0.5rem;
  }
}

.clicked svg {
  transform: rotate(180deg) !important;
}

.categoriesContainerHidden {
  height: 0;
  position: relative;
  right: 2rem;
  overflow: hidden;
  transition: 0.4s;
  visibility: hidden;
  li {
    position: relative;
    right: 20rem;
    transition: 0.4s;
  }
}

.categoriesContainer {
  @extend .categoriesContainerHidden;
  height: 20rem;
  visibility: visible !important;
  li {
    right: 0;
  }
}

