.productContainer {
  text-align: center;
  padding: 2rem;
  font-family: "Tenor Sans", sans-serif;

  img {
    width: 50%;
    height: auto;
  }
  h6 {
    font-size: 1rem;
    padding: 1rem;
    font-weight: 600;
  }
  p {
    letter-spacing: 0.2rem;
    padding-bottom: 1rem;
  }
  
}
@media (min-width: 768px) {
  .productContainer {
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img {
      width: 30vw;
      height: 40vw;
    }
    h6 {
      min-height: 3rem;
    }
  }
}
@media (min-width: 1440px) {
  .productContainer {
    padding-top: 10rem;
    img {
      width: 15vw;
      height: 20vw;
    }
  }
}
