.productContainer {
  padding: 10rem 1rem 3rem 1rem;
  img {
    width: 100%;
    height: auto;
  }
  p {
    font-family: "Open sans", sans-serif;
    padding-top: 2rem;
    text-align: center;
    span {
      position: relative;
      top: 0.15rem;
      left: 0.15rem;
    }
  }
}
.price {
  font-family: "Tenor Sans", sans-serif !important;
  font-size: 1.5rem !important;
}
.link {
  text-decoration: underline;
}
.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
}
.itemCount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  padding: 3rem 1rem;
  button {
    font-size: 2rem;
    font-weight: 100;
    background-color: #ffffff;
    border: none;
    margin: 0 2rem;
    cursor: pointer;
  }
  input {
    width: 8rem;
    padding: 1rem 0;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 45%;
    border: none;
    border: solid 0.01rem #c8c8c8;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input:focus {
    outline: none;
  }
}
.cartButton {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .productContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 50%;
      max-width: 30rem;
    }
  }
  .infoContainer {
    width: 45%;
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}
@media (min-width: 1024px) {
  .infoContainer {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .link:hover {
    color: #8b8b8b;
    transition: 0.4s;
  }
}
