.productsContainer {
    padding: 5rem 1rem 1rem 1rem;
  }
  @media (min-width: 768px) {
    .productsContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
      gap: 1rem;
    }
  }
  @media (min-width: 1440px) {
    .productsContainer {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: none;
      padding:1rem 1rem 8rem 1rem;
    }
  }